<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
<title>Game Corner</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
</head>
<body>
	<h1>Add Game</h1>
	<table>
	<tr>
		
	</tr>
		<div class="col-md-4">
		
		<form th:object="${game}" th:action="@{save}" action="#" method="post">
		<label for="ttl">Title</label>
		<input type="text" id="ttl" th:field="*{title}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="pltfrm">Platform</label>
		<input type="text" id="pltfrm" th:field="*{platform}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="pblshr">Publisher</label>
		<input type="text" id="pblshr" th:field="*{publisher}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="dev">Developer</label>
		<input type="text" id="dev" th:field="*{developer}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="avlb">Availability</label>
		<input type="text" id="avlb" th:field="*{availability}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="year">Year</label>
		<input type="text" id="year" th:field="*{year}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="prc">Price</label>
		<input type="text" id="prc" th:field="*{price}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<label for="gnrlist">Genre</label>
		<select id="gnrlist" th:field="*{genre}" class="form-control">
			<option th:each="genre : ${genres}" th:value="${genre.genreid}" th:text="${genre.name}"></option>
		</select>
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
		
		</div>
	</table>
</body>
</html>